<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Dafnix Quick Player</title>
</head>

<body>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: roboto;
        }
    </style>
    {% if "Error" in identifier %}
    <div style="padding: 75px;">
        <iframe src="https://giphy.com/embed/lKWlXRBGltz2g" width="480" height="396" frameBorder="0" class="giphy-embed"
            ></iframe>
        <h2>There's no link to reproduce...</h2>
    </div>
    {% else %}
    <iframe width="1280" height="710" src="https://www.youtube.com/embed/{{identifier}}" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    {% endif %}

</body>

</html>